body {
    background-color: lightgray;
    padding-bottom: 20px;
}
.scrolled{
    background-color: dodgerblue !important;
    transition: 1s;
}


.info-style h2 {
    color: royalblue;
    font-size: 2.5rem;
}
.info-style p {
    color: darkred;
    font-size: 1rem;
    line-height: 2;
}
.city-info {
    margin-top: 100px;
    margin-left: 10px;
}
.tourism-objects{
    padding: 0 15px;
    margin-top: 20px;
}

.contact-guide{
    margin-top: 20px;
    
}

#car-img{
    height: 500px;
}
.modal-body img {
    width: 470px;
}
.card img {
    height: 200px;
}
.navbar-brand img {
    height: 50px;
}


